---
import BaseHead from '@/components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<Fragment slot="head">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</Fragment>

	<div class="w-full h-screen bg-background flex-center relative">
		<div class="absolute inset-0">
			<img src="/background_desktop.webp" alt="" class="size-full opacity-10" />
		</div>
	</div>
</BaseLayout>