---
import { tagMap, DEFAULT_TAG_CONFIG } from "@/tags";
import type { CollectionEntry } from "astro:content";

type Props = {
    tag: CollectionEntry<"tags">["data"];
};
const { tag } = Astro.props;
---

<a href={`/tags/${tag.slug}`}>
    <span
        class="text-sm px-3 py-1 rounded-sm border-b-2 border-b-current/20 group-hover:opacity-75 hover:opacity-100 hover:-translate-y-0.5 cursor-pointer transition-all"
        style={{
            backgroundColor: tag.colors.background,
            color: tag.colors.color,
            textShadow: "0px 1px 0px rgba(0,0,0,.2)",
        }}
    >
        {tag.label}
    </span>
</a>
