---
import type { MarkdownHeading } from "astro";

const hasRelated = false; /* Feature flag */

type Props = {
    headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<div class={`px-6 pt-4 lg:pt-24 ${hasRelated ? "w-full lg:px-24" : "container mx-auto"}`}>
    <div class={`w-full flex flex-wrap lg:flex-nowrap gap-6 relative z-20 pt-6 ${hasRelated ? "justify-center" : ""}`}>
        <!-- Table of contents -->
        <div
            class="w-full h-full max-w-xs flex flex-col gap-4 lg:sticky top-28"
            class:list={!headings.length && ["opacity-0"]}
        >
            <h3 class="font-medium uppercase opacity-70 text-sm">In this page</h3>
            <ol class="flex flex-col gap-2 pl-4 opacity-80 group">
                {
                    headings.map((heading, i) => (
                        <li>
                            <a href={`#${heading.slug}`}>
                                <span class="opacity-50">{i + 1}. </span>
                                {heading.text}
                            </a>
                        </li>
                    ))
                }
            </ol>
        </div>

        <!-- Post content -->
        <slot />
        <!-- Related stuff -->
        {
            hasRelated && (
                <div class="w-full lg:max-w-xs h-full lg:sticky top-28 flex flex-col gap-4">
                    <h3 class="font-medium uppercase opacity-70 text-sm">Related</h3>
                    <div class="w-full aspect-square bg-gray-200 rounded-md" />
                </div>
            )
        }
    </div>
</div>
